<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>About MediScan</h3>
                <p>MediScan is a  system for detecting lung diseases from chest X-ray images.</p>
                <p>Our mission is to assist healthcare professionals in making accurate and timely diagnoses.</p>
            </div>
            <div class="footer-section">
                <h3>Quick Links</h3>
                <p><a href="/">Home</a></p>
                <p><a href="/about">About</a></p>
                <p><a href="/xray-analysis">Xray-analysis</a></p>
            </div>
            <div class="footer-section">
                <h3>Contact Information</h3>
                <p><i class="fas fa-map-marker-alt"></i> TKM College of Engineering, Kollam</p>
                <p><i class="fas fa-envelope"></i> contact@mediscan.com</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 MediScan </p>
        </div>
    </div>
</footer>
