<header>
    <div class="container">
        <nav>
            <div class="logo">
                <i class="fas fa-lungs"></i>
                <span>MediScan</span>
            </div>
            <ul class="nav-links">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
                <li><a href="/about" class="nav-link">Contact</a></li>
            </ul>
            <a href="/xray-analysis" class="btn">X-Ray Analysis</a>
        </nav>
    </div>
</header>
